<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">FakeStore</button>
    <span class="spacer"></span>
    
    @if (currentUser) {
      <div class="user-section">
        <span class="user-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>
            <mat-icon>person</mat-icon>
            <span>{{ currentUser.username }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    }

    <button mat-button routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
      @if (itemCount > 0) {
        <span matBadge="{{itemCount}}" matBadgeColor="accent"></span>
      }
    </button>
  </mat-toolbar-row>
</mat-toolbar>
